*{
    font-family: 'Comic Neue', cursive;
    margin: 0;
    padding: 0em;
    transition: all .5s;
}
header{
    position: relative;
    text-align: center;
    width: 80%;
    left: 10%;
}
h1{
    display: flex;
    justify-content: flex-start;
    font-size: 3rem;
    font-weight: bolder;
    position: relative;
    top: 4rem;
    width: 65%;
    right: 10%;
    left: 2rem;
}
.banner{
    width: 100%;
    z-index: -1;
    align-content: center;
    position: relative;
    top: 10%;
    border: 1px solid #000000;
    height:800px
}
nav a {
    display: flex;
    justify-content: flex-end;
    background-color: #0000ff;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    display: inline-block;
    width: 7rem;
    text-align: center;
    position: relative;
    left: 25%;
    top: 2rem;
    border: 2px solid #000000;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.6);
}

a[href="#"] {
    background-color: rgb(35, 105, 6);
}

a:hover{
    background-color: rgb(85, 11, 7);
    color: white;
    transform: scale(1.1);
    border-radius: 20px;
}

.subtitulo{
    top:0;
    position: relative;
    text-align: center;
    width: 80%;
    left: 10%;
    font-size: 2rem;
    font-weight: bolder;
    border: 1px solid #000000;

}

.eventos_logo {
    display: flex;
    justify-content: flex-start;
    top: 5rem;
    position: relative;
    width: 80%;
    left: 10rem;
    
}

.logo {
    top: 0;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: flex-start;
}

.eventos{
    top:100px;
    padding-left: 60px;
    display: inline-block;
    width: 70%;
    font-size: 1.5em;
}
.rules{
    text-align: center;
    padding-top: 50px;
    padding-left: 90px;
}
.reglas{
    font-weight: bolder;
    font-size: 3rem;
}
.subtitulo-reglas{
    font-size: 2rem;
}
.resumen{
    width: 80vw;
    margin: 50px;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.resaltado{
    font-size: 1.5rem;
}

.subtitulos-rules{
    font-size: 2rem;
    margin: 30px;
}
.parrafos{
    font-size: 1.2rem;
}
.final{
    margin-left: 40px;
}
.information{
    text-align: center;
}

.info{
    font-size: 3rem;
}

.games{
    text-decoration: underline;
    font-size: 1.5rem;
}

.schedule{
    padding: 80px;
}
.tabla {
    margin: 50px;
    width: 70%;
    border: 1px solid black;
    font-size: 1.5rem;
    align-content: center;
}

th, td {
    padding:10px;
}

th{
    text-align: left;
}
.horarios{
    padding-left: 150px;
}

.datos{
    font-size: 1.4rem;
    font-weight: bold;
}
.contacto{
    display: inline-flex;
}

.ultimo{
    padding-left: 150px;
}

footer{
    margin-top: 100px;
    background-color: #000000;
    font-size: 2rem;
    color: azure;
    bottom: 0;
    text-align: center;
}